@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$range-picker-height:           500px;
$range-picker-width:            310px;
$picker-container-height:       465px;
$container-height:              445px;
$container-width:               300px;
$date-cell-height:				30px;
$date-cell-width:				30px;
$date-cell-line-width:			40px;
$calender-bg:					#fff;
$bg-date-cell-selected:			#E0E0E0;
$font-size:						13px;		
$today-border-color:			#106CC8;
$disabled-date-text-color:		#ccc1c1;
$aniimation-timing-fun:			cubic-bezier(.04,1.01,.13,1.02);
$aniimation-duration:			1s;

.sm-calender-pane{
	display:block;
	position:fixed;
  	z-index:81;
  	overflow: hidden;
	border-radius:2px;  	
  	&.hide-animate {
   	-webkit-transition: all $aniimation-duration  $aniimation-timing-fun;
	   -moz-transition: all $aniimation-duration  $aniimation-timing-fun;
  		 -o-transition: all $aniimation-duration  $aniimation-timing-fun;
  		    transition: all $aniimation-duration  $aniimation-timing-fun; 
 	    max-height: 0px;
	    max-width: 0px; 
	}
	&.show {
   	-webkit-transition: all $aniimation-duration  $aniimation-timing-fun;
	   -moz-transition: all $aniimation-duration  $aniimation-timing-fun;
  		 -o-transition: all $aniimation-duration  $aniimation-timing-fun;
  		    transition: all $aniimation-duration  $aniimation-timing-fun; 
 	    max-height: 500px;
	    max-width: 450px; 
	} 
	.action{
	  height: 30px;
	  margin-bottom: 0;
	  position: absolute;
	  bottom: 0;
	  width: 100%; 
	}	 	
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 960px)  
 {
	.sm-calender-pane{
	  	overflow: hidden;
		&.hide {
	  	-webkit-animation: scaleDownCal $aniimation-duration  $aniimation-timing-fun;
		   -moz-animation: scaleDownCal $aniimation-duration  $aniimation-timing-fun;
	  		 -o-animation: scaleDownCal $aniimation-duration  $aniimation-timing-fun;
	  		    animation: scaleDownCal $aniimation-duration  $aniimation-timing-fun;

		}
		&.show {
	  	-webkit-animation: scaleUpCal $aniimation-duration  $aniimation-timing-fun;
		   -moz-animation: scaleUpCal $aniimation-duration  $aniimation-timing-fun;
	  		 -o-animation: scaleUpCal $aniimation-duration  $aniimation-timing-fun;
	  		    animation: scaleUpCal $aniimation-duration  $aniimation-timing-fun;

		}  	
	}
	.action{
	  height: 30px;
	  margin-bottom: 0;
	  position: absolute;
	  bottom: 0;
	  width: 100%; 
	}
}


/* 
	Input container and button postion css
 */
.sm-input-container{
	& .sm-picker-icon{    
	    position: absolute;
	    top: 0%;
	    left: 93%;
	}
}

.picker-container{
	border-radius:2px;
	.container{
		border-radius:2px;
		overflow: hidden;
		md-toolbar{
			word-wrap: break-word;			
			&.md-height{
				padding: 20px 0 10px 0;
				&.landscape{
					width : 130px;
					.year-header{
						margin:10px;
						font-size: 16px;
					}
					 .date-time-header{
						font-size: 28px;
						font-weight: bold;
						text-align: left;
						margin:0px 0 15px 10px;
					}
				}
			}
			&.md-height{
				padding: 5px 10px;
				&.portrait{
					height: 85px;
					.year-header{
						margin:10px 0;
						font-size: 16px;
					}
					 .date-time-header{
						font-size: 32px;
						font-weight: bold;
						text-align: left;
					}

				}
			}				
		}
	}	
}


.date-picker{
	width: 300px;	
	height: 270px;
	.cal-link
	{
		font-size: 0.7em;
		text-align: center;
		margin-bottom: 10px;
	}

	.year-container{
		width:300px;
		animation: slideInDown 1s cubic-bezier(.06,.61,.04,1.03);
		margin-top: 20px;
		.year-md-repeat{
			height: 245px;
			.md-virtual-repeat-container{
				width: 240px;
				height: 239px;
			}				
			.repeated-item {
				box-sizing: border-box;
				height: 70px;
				margin: 0 10px;
				position: relative;
 				.year{
 					margin: 0 10px;
 					display: flex;
					height: 70px;
					width: 30px;
					.year-num{
 						outline: none;
					    width: 30px;
					    height: 30px;
					    text-align: center;
					    line-height: 30px;
					    margin: 3px;
					    cursor: pointer;
					    &.disabled
						{
							pointer-events:none;
							color: rgba(0,0,0,0.38);
						}
					}
 				}
 				.month-row{
 					display: flex;
 					height: 35px;
 					position: absolute;
 					top: 0;
 					right: 0;

 					& + .month-row {
						top: 35px;
 					}
 					.month{
 						outline: none;
					    width: 30px;
					    height: 30px;
					    border-radius: 50%;
					    text-align: center;
					    line-height: 30px;
					    margin: 3px;
					    font-size: 12px;
					    cursor: pointer;
					    &:hover{
					    	background-color:#E0E0E0;
					    }
					    &.disabled
						{
							pointer-events:none;
							color: rgba(0,0,0,0.38);
						}
					}
					.month-enabled {
						color: #2196F3;
					}
					.month-selected {
						color: #fff;
						background-color: #2196F3;
					}
 				}
 				.selected-year{
					font-size: 1.2em;
					color: #2196F3;
				}
			}
		}

	}
	.date-container{
		.navigation{
			height: 40px;
			.md-button{
				text-transform: capitalize;
				font-weight: bold;				
				&.md-icon-button{
					
				}
			}
		}	
		> .date-cell-header{
			cursor: default;
			> .md-button{
				&.md-icon-button{
					opacity: 1;
    				margin: 2px 0 2px 2px;					
				}
			}
		}
		.date-cell-row{
			.md-button{
				&.md-icon-button{
					height: $date-cell-height;
					width: $date-cell-width;
					min-height: $date-cell-height;
					padding:0px;
					font-size: 13px;
					&[disabled]{
						cursor: default;
						background-color: transparent;
					}	
					&:hover:not(.disabled):not(.selected){
						background-color: $bg-date-cell-selected;
					}					
				}							
			}
		}	
	}				   
}

.time-picker{
	width: 300px;
	.navigation{
		height: 25px;
		.md-button{
			text-transform: capitalize;
			font-weight: bold;
			margin:0;				
			&.md-icon-button{
					
			}
		}
	}
	.time-md-repeat{
		width: 70px;
		height: 239px;
		.repeated-item{
			width: 34px;
			margin:0 auto;
			> .md-button{
				margin: 2px;	
				&.md-icon-button{
					height: $date-cell-height;
					width: $date-cell-width;
					min-height: $date-cell-height;
					padding:0px;
					font-size: 13px;
				}
			}			
		}
	}		

}

.md-virtual-repeat-container .md-virtual-repeat-scroller{
	right: -11px;
	padding-right:20px;
}
.slideLeft{
	animation: slideInLeft 500ms cubic-bezier(.06,.61,.04,1.03);   								
}
.slideRight{
	animation: slideInRight 500ms cubic-bezier(.06,.61,.04,1.03);   								
}


.range-picker{
	width: $range-picker-width;
	overflow-x: hidden;
	background-color:$calender-bg;
	.md-toolbar-tools{
		font-size:calc(#{$font-size} + 2);
		.date-display{
			width: 130px;
			padding: 2px; 
			text-align: center;			
		}
		.divider-display{
			width: 20px;
			font-size:$font-size;
			padding: 2px; 
		}		
	}
	.pre-select{
		height: 307px;
		.md-button{
			padding:3px;
			margin:0;
		}
	}
	.custom-select{
		&.show-calender{
			>.tab-head{
				height: 43px;
				text-align: center;
				line-height: 35px;
				span{
					outline: none;
					color:$disabled-date-text-color;
					width: 50%;
					&.active{
						animation-property:border-bottom;
						color:inherit;
						border-bottom:2px solid #FF5252;
						&.moveLeft{
							animation: slideInLeft 1s cubic-bezier(.06,.61,.04,1.03);								
						}
						&.moveRight{
							animation: slideInRight 1s cubic-bezier(.06,.61,.04,1.03);								
						}	
					}
				}
			}
		}
	
	}
}	

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}


@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@-webkit-keyframes scaleUpCal {
    0%   {
      -ms-transform: scale(.5,.5); /* IE 9 */
      -webkit-transform: scale(.5,.5); /* Safari */
      transform: scale(.5,.5);
  }

    100% {
      -ms-transform: scale(1,1); /* IE 9 */
      -webkit-transform: scale(1,1); /* Safari */
      transform: scale(1,1);    
    }
} 

/* Standard syntax */ 
@keyframes scaleUpCal {
    0%   {
      -ms-transform: scale(.5,.5); /* IE 9 */
      -webkit-transform: scale(.5,.5); /* Safari */
      transform: scale(.5,.5);
  }

    100% {
      -ms-transform: scale(1,1); /* IE 9 */
      -webkit-transform: scale(1,1); /* Safari */
      transform: scale(1,1);    
    }
}

@-webkit-keyframes scaleDownCal {
    0%   {
      -ms-transform: scale(1,1); /* IE 9 */
      -webkit-transform: scale(1,1); /* Safari */
      transform: scale(1,1);    
  }

    100% {
      -ms-transform: scale(.5,.5); /* IE 9 */
      -webkit-transform: scale(.5,.5); /* Safari */
      transform: scale(.5,.5);
    }
} 

/* Standard syntax */ 
@keyframes scaleDownCal {
    0%   {
      -ms-transform: scale(1,1); /* IE 9 */
      -webkit-transform: scale(1,1); /* Safari */
      transform: scale(1,1);    
  }

    100% {
      -ms-transform: scale(.5,.5); /* IE 9 */
      -webkit-transform: scale(.5,.5); /* Safari */
      transform: scale(.5,.5);
    }
}

@-webkit-keyframes moveUp {
    0%   {
      -ms-transform: top; /* IE 9 */
      -webkit-transform: top; /* Safari */
      transform: top;
  }

    100% {
      -ms-transform: top; /* IE 9 */
      -webkit-transform: top; /* Safari */
      transform: top;     
    }
} 

/* Standard syntax */ 
@keyframes moveUp {
    0%   {
      -ms-transform: top; /* IE 9 */
      -webkit-transform: top; /* Safari */
      transform: top;
  }

    100% {
      -ms-transform: top; /* IE 9 */
      -webkit-transform: top; /* Safari */
      transform: top;     
    }
}

.date-display .text-input {
	background-color: #fff;
	border: none;
	font-size: 0.8em;
	padding: 0 12px;
	margin-bottom: 0;
	height: 42px;
	width: 100%;
}