<md-input-container md-no-float="vm.noFloatingLabel">

    <input name="{{vm.fname}}" ng-model="vm.valueAsText" ng-readonly="true"
        type="text"
        aria-label="{{vm.fname}}" ng-required="{{vm.isRequired}}" class="sm-input-container"
        ng-focus="vm.show()" placeholder="{{vm.label}}"
    />
    <div id="picker" class="sm-calender-pane md-whiteframe-4dp" ng-model="value">
        <sm-range-picker
            ng-model="vm.value"
            custom-to-home="{{vm.customToHome}}"
            custom-list="vm.customList"
            mode="{{vm.mode}}"
            min-date="{{vm.minDate}}"
            max-date="{{vm.maxDate}}"
            range-select-call="vm.rangeSelected(range)"
            close-on-select="{{vm.closeOnSelect}}"
            show-custom="{{vm.showCustom}}"
            week-start-day="{{vm.weekStartDay}}"
            divider="{{vm.divider}}"
            format="{{vm.format}}"
            allow-clear="{{vm.allowClear}}"
            allow-empty="{{vm.allowEmpty}}"
        ></sm-range-picker>
    </div>
</md-input-container>

