<div  class="time-picker" layout="row" layout-align="center center">
	<div>
		<div layout="row" class="navigation">
			<span class="md-button">Hour</span>
			<span class="md-button">Minute</span>
		</div>
		<div layout="row" >
			<md-virtual-repeat-container flex="50"  id="hour-container{{vm.uid}}" class="time-md-repeat" md-top-index="vm.hourTopIndex">
			<div ng-repeat="h in vm.hourItems" class="repeated-item">
						<md-button class="md-icon-button" 
							ng-click="vm.setHour(h.hour)" 							
							ng-class="{'md-primary': h.isCurrent,
									'md-primary md-raised' :h.hour===vm.currentDate.hour()}">
							{{h.hourText}}
						</md-button>
			</div>
			</md-virtual-repeat-container>		     
			<md-virtual-repeat-container flex="50" id="minute-container" class="time-md-repeat" md-top-index="vm.minuteTopIndex">
				<div ng-repeat="m in vm.minuteCells"  class="repeated-item">
						<md-button class="md-icon-button" 
							ng-click="vm.setMinute(m.minute)" 							
							ng-class="{'md-primary': m.isCurrent,
								'md-primary md-raised' :m.minute===vm.currentDate.minute()}">
							{{m.minuteText}}
						</md-button>
				</div>
			</md-virtual-repeat-container>		     
		</div>	
	</div>
</div>