@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.sm-calender-pane {
  display: block;
  position: fixed;
  z-index: 81;
  overflow: hidden;
  border-radius: 2px; }
  .sm-calender-pane.hide-animate {
    -webkit-transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
    -moz-transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
    -o-transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
    transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
    max-height: 0px;
    max-width: 0px; }
  .sm-calender-pane.show {
    -webkit-transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
    -moz-transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
    -o-transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
    transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
    max-height: 500px;
    max-width: 450px; }
  .sm-calender-pane .action {
    height: 30px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%; }

@media only screen and (min-device-width: 0px) and (max-device-width: 960px) {
  .sm-calender-pane {
    overflow: hidden; }
    .sm-calender-pane.hide {
      -webkit-animation: scaleDownCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
      -moz-animation: scaleDownCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
      -o-animation: scaleDownCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
      animation: scaleDownCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02); }
    .sm-calender-pane.show {
      -webkit-animation: scaleUpCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
      -moz-animation: scaleUpCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
      -o-animation: scaleUpCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
      animation: scaleUpCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02); }
  .action {
    height: 30px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%; } }

/* 
	Input container and button postion css
 */
.sm-input-container .sm-picker-icon {
  position: absolute;
  top: 0%;
  left: 93%; }

.picker-container {
  border-radius: 2px; }
  .picker-container .container {
    border-radius: 2px;
    overflow: hidden; }
    .picker-container .container md-toolbar {
      word-wrap: break-word; }
      .picker-container .container md-toolbar.md-height {
        padding: 20px 0 10px 0; }
        .picker-container .container md-toolbar.md-height.landscape {
          width: 130px; }
          .picker-container .container md-toolbar.md-height.landscape .year-header {
            margin: 10px;
            font-size: 16px; }
          .picker-container .container md-toolbar.md-height.landscape .date-time-header {
            font-size: 28px;
            font-weight: bold;
            text-align: left;
            margin: 0px 0 15px 10px; }
      .picker-container .container md-toolbar.md-height {
        padding: 5px 10px; }
        .picker-container .container md-toolbar.md-height.portrait {
          height: 85px; }
          .picker-container .container md-toolbar.md-height.portrait .year-header {
            margin: 10px 0;
            font-size: 16px; }
          .picker-container .container md-toolbar.md-height.portrait .date-time-header {
            font-size: 32px;
            font-weight: bold;
            text-align: left; }

.date-picker {
  width: 300px;
  height: 270px; }
  .date-picker .cal-link {
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 10px; }
  .date-picker .year-container {
    width: 300px;
    animation: slideInDown 1s cubic-bezier(0.06, 0.61, 0.04, 1.03);
    margin-top: 20px; }
    .date-picker .year-container .year-md-repeat {
      height: 245px; }
      .date-picker .year-container .year-md-repeat .md-virtual-repeat-container {
        width: 240px;
        height: 239px; }
      .date-picker .year-container .year-md-repeat .repeated-item {
        box-sizing: border-box;
        height: 70px;
        margin: 0 10px;
        position: relative; }
        .date-picker .year-container .year-md-repeat .repeated-item .year {
          margin: 0 10px;
          display: flex;
          height: 70px;
          width: 30px; }
          .date-picker .year-container .year-md-repeat .repeated-item .year .year-num {
            outline: none;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            margin: 3px;
            cursor: pointer; }
            .date-picker .year-container .year-md-repeat .repeated-item .year .year-num.disabled {
              pointer-events: none;
              color: rgba(0, 0, 0, 0.38); }
        .date-picker .year-container .year-md-repeat .repeated-item .month-row {
          display: flex;
          height: 35px;
          position: absolute;
          top: 0;
          right: 0; }
          .date-picker .year-container .year-md-repeat .repeated-item .month-row + .month-row {
            top: 35px; }
          .date-picker .year-container .year-md-repeat .repeated-item .month-row .month {
            outline: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            margin: 3px;
            font-size: 12px;
            cursor: pointer; }
            .date-picker .year-container .year-md-repeat .repeated-item .month-row .month:hover {
              background-color: #E0E0E0; }
            .date-picker .year-container .year-md-repeat .repeated-item .month-row .month.disabled {
              pointer-events: none;
              color: rgba(0, 0, 0, 0.38); }
          .date-picker .year-container .year-md-repeat .repeated-item .month-row .month-enabled {
            color: #2196F3; }
          .date-picker .year-container .year-md-repeat .repeated-item .month-row .month-selected {
            color: #fff;
            background-color: #2196F3; }
        .date-picker .year-container .year-md-repeat .repeated-item .selected-year {
          font-size: 1.2em;
          color: #2196F3; }
  .date-picker .date-container .navigation {
    height: 40px; }
    .date-picker .date-container .navigation .md-button {
      text-transform: capitalize;
      font-weight: bold; }
  .date-picker .date-container > .date-cell-header {
    cursor: default; }
    .date-picker .date-container > .date-cell-header > .md-button.md-icon-button {
      opacity: 1;
      margin: 2px 0 2px 2px; }
  .date-picker .date-container .date-cell-row .md-button.md-icon-button {
    height: 30px;
    width: 30px;
    min-height: 30px;
    padding: 0px;
    font-size: 13px; }
    .date-picker .date-container .date-cell-row .md-button.md-icon-button[disabled] {
      cursor: default;
      background-color: transparent; }
    .date-picker .date-container .date-cell-row .md-button.md-icon-button:hover:not(.disabled):not(.selected) {
      background-color: #E0E0E0; }

.time-picker {
  width: 300px; }
  .time-picker .navigation {
    height: 25px; }
    .time-picker .navigation .md-button {
      text-transform: capitalize;
      font-weight: bold;
      margin: 0; }
  .time-picker .time-md-repeat {
    width: 70px;
    height: 239px; }
    .time-picker .time-md-repeat .repeated-item {
      width: 34px;
      margin: 0 auto; }
      .time-picker .time-md-repeat .repeated-item > .md-button {
        margin: 2px; }
        .time-picker .time-md-repeat .repeated-item > .md-button.md-icon-button {
          height: 30px;
          width: 30px;
          min-height: 30px;
          padding: 0px;
          font-size: 13px; }

.md-virtual-repeat-container .md-virtual-repeat-scroller {
  right: -11px;
  padding-right: 20px; }

.slideLeft {
  animation: slideInLeft 500ms cubic-bezier(0.06, 0.61, 0.04, 1.03); }

.slideRight {
  animation: slideInRight 500ms cubic-bezier(0.06, 0.61, 0.04, 1.03); }

.range-picker {
  width: 310px;
  overflow-x: hidden;
  background-color: #fff; }
  .range-picker .md-toolbar-tools {
    font-size: calc(13px + 2); }
    .range-picker .md-toolbar-tools .date-display {
      width: 130px;
      padding: 2px;
      text-align: center; }
    .range-picker .md-toolbar-tools .divider-display {
      width: 20px;
      font-size: 13px;
      padding: 2px; }
  .range-picker .pre-select {
    height: 307px; }
    .range-picker .pre-select .md-button {
      padding: 3px;
      margin: 0; }
  .range-picker .custom-select.show-calender > .tab-head {
    height: 43px;
    text-align: center;
    line-height: 35px; }
    .range-picker .custom-select.show-calender > .tab-head span {
      outline: none;
      color: #ccc1c1;
      width: 50%; }
      .range-picker .custom-select.show-calender > .tab-head span.active {
        animation-property: border-bottom;
        color: inherit;
        border-bottom: 2px solid #FF5252; }
        .range-picker .custom-select.show-calender > .tab-head span.active.moveLeft {
          animation: slideInLeft 1s cubic-bezier(0.06, 0.61, 0.04, 1.03); }
        .range-picker .custom-select.show-calender > .tab-head span.active.moveRight {
          animation: slideInRight 1s cubic-bezier(0.06, 0.61, 0.04, 1.03); }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  animation-name: slideInRight; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  animation-name: slideInUp; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

.slideInDown {
  animation-name: slideInDown; }

@-webkit-keyframes scaleUpCal {
  0% {
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Safari */
    transform: scale(0.5, 0.5); }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1); } }

/* Standard syntax */
@keyframes scaleUpCal {
  0% {
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Safari */
    transform: scale(0.5, 0.5); }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1); } }

@-webkit-keyframes scaleDownCal {
  0% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Safari */
    transform: scale(0.5, 0.5); } }

/* Standard syntax */
@keyframes scaleDownCal {
  0% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1); }
  100% {
    -ms-transform: scale(0.5, 0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5, 0.5);
    /* Safari */
    transform: scale(0.5, 0.5); } }

@-webkit-keyframes moveUp {
  0% {
    -ms-transform: top;
    /* IE 9 */
    -webkit-transform: top;
    /* Safari */
    transform: top; }
  100% {
    -ms-transform: top;
    /* IE 9 */
    -webkit-transform: top;
    /* Safari */
    transform: top; } }

/* Standard syntax */
@keyframes moveUp {
  0% {
    -ms-transform: top;
    /* IE 9 */
    -webkit-transform: top;
    /* Safari */
    transform: top; }
  100% {
    -ms-transform: top;
    /* IE 9 */
    -webkit-transform: top;
    /* Safari */
    transform: top; } }

.date-display .text-input {
  background-color: #fff;
  border: none;
  font-size: 0.8em;
  padding: 0 12px;
  margin-bottom: 0;
  height: 42px;
  width: 100%; }
