<form name="test" ng-submit="vm.save()" novalidate>
<md-content  class="md-whiteframe-z2" layout-padding>
    <div>
    	<h2 class="md-title">Date-Time Range Picker</h2>
	    <div layout="row">
	        <sm-range-picker
	                fname="dayOfPay"
	                label="Date of Pay"
	                form="test"
	                min-date="11-10-2015"
	                ng-model="vm.employee.dateOfPay1"
	                flex="50"
	                is-required="true"
	                format="vm.format"
	                divider="To"
	                mode="vm.mode"
	                week-start-day="Monday"
	                custom-to-home="true"
	                date-type="vm.dateType"
	                date-type-list="vm.dateTypeList"
	                >
	        </sm-range-picker>
	    </div>
    </div>

    

	</md-content>
</form>
